<!-- <div class="container"><br>
  <div class="col-md-6 offset-md-3"> 
    <div class="card text-center">
  <br><br><h1>Iniciar sesión</h1>
      <div class="card-body"> 
        <form class="form">
          <div class="form-group">
          <input type="text" name="Usuario" [(ngModel)]="username" required placeholder="Usuario" class="form-control"></div><br>
          <div class="form-group"> <input type="password" name="Contraseña" [(ngModel)]="password" required placeholder="Contraseña" class="form-control"></div><br>
          <button class="btn btn-info btn-block"(click)=checkLogin() type="submit" id="login-button">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div> 
</div> -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>D'liz Pizza</mat-card-title>
    <mat-card-subtitle>Para continuar inicia sesión</mat-card-subtitle>
    <br />
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput name="Usuario" [(ngModel)]="username" placeholder="esteven_46" required/>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput name="Contraseña" [(ngModel)]="password" required="" [type]="hide ? 'password' : 'text'" />
        <button 
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="center">
    <button mat-button type="submit" (click)=checkLogin() >INGRESAR</button>
  </mat-card-actions>
  <div class="center2">
    <mat-checkbox class="example-margin" color="primary">Recordar</mat-checkbox>
    <a class="enlace" href="#">¿Olvidaste tu contraseña?</a>
  </div>
</mat-card>
<mat-card class="example-card marge">
  <p class="center3">¿No tienes cuenta? <a class="enlace" href="#">Registrate</a></p>
</mat-card>

