<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>D'liz Pizza</mat-card-title>
    <mat-card-subtitle>Para continuar inicia sesión</mat-card-subtitle>
    <br />
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput name="Usuario" [(ngModel)]="username" placeholder="esteven_46" required/>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput name="Contraseña" [(ngModel)]="password" required="" [type]="hide ? 'password' : 'text'" />
        <button 
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="center">
    <button mat-button type="submit" (click)=checkLogin() >INGRESAR</button>
  </mat-card-actions>
  <div class="center">
    <a class="enlace" href="recuperarPass">¿Olvidaste tu contraseña?</a>
  </div>
</mat-card>
<mat-card class="example-card marge">
  <p class="center3">¿No tienes cuenta? <a class="enlace" href="crearCuenta">Registrate</a></p>
</mat-card>

