<div class="container-xl" style="padding: 0%">
  <br />

  <h1>Pizzas Disponibles</h1>
  <br />

  <div class="row">
    <div
      class="col-md-4"
      style="margin-bottom: 20px"
      *ngFor="let producto of productos"
    >
      <div class="card text-center">
        <div
          class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
        >
          Producto: {{ producto.nombre }}
        </div>
        <div class="card-body">
          <h5 class="card-subtitle text muted">
            {{ producto.precio | currency: "GTQ" }} - Disponible
          </h5>
        </div>
        <div class="center">
          <img
            style="
              max-height: 200px;
              max-width: 200px;
              display: block;
              margin-left: auto;
              margin-right: auto;
            "
            class="card-img-top"
            [src]="producto.imagen"
          />
        </div>
        <div class="card-body">
          <p>{{ producto.descripcion }}</p>
          <a class="text-white"
            ><button
              class="btn btn-info btn-block"
              onclick="this.blur();"
              (click)="alertLogin()"
            >
              Agregar al <i class="fas fa-shopping-cart"></i></button
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
